a, .link {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover, .link:hover {
    text-decoration: underline;
    text-decoration-color:  var(--hover-link-color);
    text-decoration-thickness: 0.2em;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    line-height: 1em;
    margin-bottom: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border-radius: 0.2em;
}

.button.active {
    color: var(--hover-button-text-color);
    background-color: var(--hover-button-background-color);
}

.button.disabled {
    color: var(--disabled-button-text-color) !important;
    background-color: var(--disabled-button-background-color) !important;
}

.button.disabled > h3 {
    color: var(--disabled-button-text-color) !important;
}

.button:hover {
    color: var(--hover-button-text-color);
    background-color: var(--hover-button-background-color);
    cursor: pointer;
}

.button:hover > h1 {
    color: var(--hover-button-text-color);
}

.button:hover > h2 {
    color: var(--hover-button-text-color);
}

.button:hover > h3 {
    color: var(--hover-button-text-color);
}

.button:hover > svg {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.button:hover > h4 {
    color: var(--hover-button-text-color);
}

.button:hover > h5 {
    color: var(--hover-button-text-color);
}

.button.active > h1 {
    color: var(--hover-button-text-color);
}

.button.active > h2 {
    color: var(--hover-button-text-color);
}

.button.active > h3 {
    color: var(--hover-button-text-color);
}

.button.active > h4 {
    color: var(--hover-button-text-color);
}

.button.active > h5 {
    color: var(--hover-button-text-color);
}

.the-side-bar {
    border-right-color: #DBD8E3;
}

h1 {
    color: var(--header-color);
    font-size: 2.4em;
    font-weight: lighter;
    line-height: 1.1em;
    margin-top: 0;
}

h2 {
    color: var(--header-color);
    font-size: 1.8em;
    font-weight: lighter;
    line-height: 1.1em;
}

h3 {
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--header-color);
}

h4{
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1.2em;
    font-style: italic;
    color: var(--header-color);
}

.badge {
    background-color: var(--badge-background-color);
    color: var(--badge-text-color);
}

option {
    background-color: var(--background-color)
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--table-header-background-color);
    color: var(--table-header-text-color);
}

tr:nth-child(even){
    background-color: var(--hover-table-row-background-color);
}

tr:hover {
    color: var(--hover-table-row-text-color);
    background-color: var(--hover-table-row-background-color);
}

td,th {
    line-height: 1.6em;
    padding: 0.2em;
    border: 1px solid var(--table-header-background-color);
}

thead {
    background-color: var(--table-header-background-color);
    color: var(--table-header-text-color);
    font-size: 0.8em;
}

.copy {
    cursor: copy;
}