:root {
 --link-color: #5c5470;
 --hover-link-color: #5c5470;

 --background-color: white;
 --text-color: #2a2438;
 --header-color: #352f44;;

 --button-background-color: #dbd8e3;
 --button-text-color: #5c5470;
 --disabled-button-background-color: #dbd8e3;
 --disabled-button-text-color: #b1acb6;
 --hover-button-background-color: #5c5470;
 --hover-button-text-color: #dbd8e3;

 --badge-background-color: #5c5470;
 --badge-text-color: #dbd8e3;

 --table-header-background-color: #5c5470;
 --table-header-text-color: #dbd8e3;
 --table-row-background-color: white;
 --table-row-text-color: #5c5470;
 --hover-table-row-background-color: #dbd8e3;
 --hover-table-row-text-color: white;

 --box-border-color: #dbd8e3;
 --box-text-color: #5c5470;

 --drop-field-text-color: #5c5470;
 --drop-field-background-color: #dbd8e3;
 --drop-field-border-color: #5c5470;
 --drop-field-hover-text-color:  #dbd8e3;
 --drop-field-hover-background-color: #5c5470;
 --drop-field-hover-border-color: #dbd8e3;

 --dangerous-button-border-color: #ff4646;
 --dangerous-button-text-color: #ff4646;
 --dangerous-button-hover-text-color: white;
}
